html, body {
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-size:12px;
    height: 100%;
    width: 100%;
    background-color: #FFF;
}

body {
    position: relative;
    min-height: 100vh;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/*-------- Navbar --------*/

.navbar .nav-link {
    font-size: 120%;
    background-color: #04021c;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.bg-dark {
    background-color: #04021c!important;
}

.navbar-nav > li > a:hover {
    transition: all 0.3s;
    color: #FFF;
}

.navbar .active {
    background: #FFF !important;
    color: #000 !important;    
}

.navbar-nav > li > a:hover {
    cursor:pointer;
    background-color: #FFF;
    color: #000 !important; 
}

/*-------- Home --------*/

#isdeeplearningsecureforrobots {
    text-transform: none;
    font-weight: 500;
}

#research {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#projects {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.name {
    font-size: 160%;
}

.motto {
    font-size: 120%;
}

.link span {
    font-size: 120%;
    display: block;
}

.home-avatar {
    border-radius: 50%;
    width: 50%;
    height: 50%;
}

.box-border {
    border: 1px solid ;
    border-color: #cccccc;
    border-radius: 6px;
    padding-left: 30px;
    padding-right: 30px;
}

.box-container {
    width: 100%;
}

.box-container-100 {
    width: 100%;
}

.box-container-80 {
    width: 80%;
    margin-left: 10%;
}

.box-container-90 {
    width: 90%;
    margin-left: 5%;
}

/*-------- Seperator --------*/

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #AAA;
    align-self: flex-end;
}

.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #BBB;
}

.separator::before {
    margin-right: .25em;
}

.separator::after {
    margin-left: .25em;
}

/*-------- Footer --------*/

.hust {
    margin-top: 12%;
    margin-left: 10%;
    width: 100%;
}

.sustech {
    margin-top: 12%;
    margin-left: 10%;
    width: 100%;
}

.footer {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color: #04021c/*#2d3436*/;
    color: #e0e0e0;
}

/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/

@media (min-width: 300px) { 
    .footer {
        height: 60px;
    }
}

@media (min-width: 423px) { 
    .footer {
        height: 80px;
    }
}
 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 523px) {  
    html, body {
        font-size: 12px;
    }

    .box-container {
        width: 96%;
        margin-left: 2%;
    }

    .box-container-90 {
        width: 100%;
        margin-left: 0%;
    }

    .footer {
        height: 100px;
    }

    .hust {
        margin-top: 10%;
        margin-left: 10%;
        width: 100%;
    }
    
    .sustech {
        margin-top: 10%;
        margin-left: 10%;
        width: 100%;
    }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {

    html, body {
        font-size: 14px;
    }

    /*-------- Home --------*/

    .name {
        font-size: 140%;
    }

    .motto {
        font-size: 100%;
    }

    .link span {
        font-size: 90%;
        display: block;
    }

    /*-------- Footer --------*/

    .footer {
        height: 100px;
    }

    .home-avatar {
        border-radius: 50%;
        margin-left: 10%;
        width: 80%;
    }

    .hust {
        margin-top: 6%;
        margin-left: 10%;
        width: 90%;
    }
    
    .sustech {
        margin-top: 6%;
        margin-left: 10%;
        width: 90%;
    }
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .hust {
        margin-top: 6%;
        margin-left: 10%;
        width: 60%;
    }

    .sustech {
        margin-top: 6%;
        margin-left: 10%;
        width: 60%;
    }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .hust {
        margin-top: 4%;
        margin-left: 10%;
        width: 60%;
    }

    .sustech {
        margin-top: 4%;
        margin-left: 10%;
        width: 60%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1440px) {
    html, body {
        font-size: 16px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1600px) {
    html, body {
        font-size: 18px;
    }

    .box-container {
        width: 90%;
        margin-left: 10%;
    }
}
